# Auto detect text files and perform LF normalization
* text=auto

# JS files
*.js text
*.jsx text

# CSS files
*.css text
*.scss text

# HTML files
*.html text

# JSON files
*.json text

# Markdown files
*.md text

# Config files
*.yml text
*.yaml text
*.toml text
*.ini text
*.config text

# Documentation
*.txt text
*.rst text

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary

# Audio
*.mp3 binary
*.wav binary

# Video
*.mp4 binary
*.webm binary
*.mov binary

# Archives
*.zip binary
*.tar.gz binary
*.tgz binary
*.rar binary
*.7z binary 