/* Home.css */

.home {
  padding: 0.2%;
  padding-left: 2%;
  background-color: #141414; /* Cor de fundo escura similar à Netflix */
  color: #e5e5e5; /* Cor do texto similar à Netflix */
}

.selected-movie {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.selected-movie img {
  width: 50%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.selected-movie-content {
  width: 45%;
  color: white;
}

.selected-movie-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.selected-movie-content p {
  font-size: 16px;
}

.movie-grid {
  margin-top: 20px;
}
.no-scroll {
  overflow: hidden;
}